body {
    margin: 0;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5%;
}

#jumbotron-message {
    margin: 100px;
}

.btn-custom {
    font-size: 30px;
}

#homepage-buttons {
   margin: 50px;
}

#seller-dash-header {
    margin: 20px; 
}

#seller-listing-header {
    margin: 20px; 
}

#listingButtonDiv {
    margin: 20px;
}

#originalPriceDiv {
    margin-right: 5px;
}

#expirationDateDiv{
    width: 50%;
}

.input-group-append {
    cursor: pointer;
}

.editButton{
    background-color: grey;
    left: 10px;
}