body {
    margin: 0;
}

.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5%;
}

#jumbotron-message {
    margin: 100px;
}

.btn-custom {
    padding: 40px 70px 40px 70px;
    font-size: 30px;
}

#homepage-buttons {
   margin: 50px;
}